li {
    float: left;
    list-style-type: none;
    font-size: 30px;
    margin: 20px 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: rgb(5, 5, 105);
    height: 75px;
    border-bottom: solid rgb(250, 155, 31) 5.5px;

}
i {
    float: right;
    font-size: 35px;
    color: white;
    margin: 20px 25px;
}
#poseban {
    color: white;
}

